doctype html
html(lang="en")
	head
		title!= server.title
		
		meta(charset='utf-8')
		meta(content='width=device-width, initial-scale=1' name='viewport')

		if server.plugins.scripts.length > 0
			script(type='module').
				import * as preact from 'https://cdn.skypack.dev/preact';
				import * as hooks from 'https://cdn.skypack.dev/preact/hooks';
				window.preact = preact;
				window.preact_hooks = hooks;
				
		for val in server.plugins.styles
			link(rel="stylesheet" href=`/plugin/${val}`)
		for val in server.plugins.scripts
			script(src=`/plugin/${val}` defer)
				
		for val in server.themes
			link(rel="stylesheet" href=`/theme/${val}.css`)

		link(rel='icon' type='image/' + server.favicon.substr(server.favicon.lastIndexOf('.') + 1) href='/media/' + server.favicon + '?res=preload')
		meta(name='description', content=server.description)
	
	!=server.content
