doctype html
html(lang="en")
	head
		include head
		title!= server.title
		meta(name='description', content=server.description)

	body
		header!= server.includes.header
		main!= server.includes.main
		footer!= server.includes.footer
